body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Condensed', sans-serif;
  height: 100%;
  width: 100%;
}

.navigationbar ul li {
  list-style: none;
  display: inline;
  padding: 20px;

}
.navigationbar {
  text-align: center;
  padding: 20px;
  margin-top: 50px;

}
.headersection {
 text-align: center;
 margin-top: 100px;
}

.navigationbar ul li a {
  text-decoration: none;
  color: black;
}

header {
  background: url('../images/verdure header.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
height: 990px;
}
.subscribe {
  width: 200px;
  height: 50px;
  background: #99A769;
  color: white;
}
.logo {
  text-align: center;
  margin-bottom: -50px
}
.headersection h1 {
  font-size: 90px;
  font-weight: lighter;
}
.headersection p {
  font-weight: 100px;
}
.navigationbar a:hover{
  color:  #99A769;
}
.image01 img {
  width: 990px;
  height: 600px;
  margin-top: -20px;
}
.main1 {
  display: grid;
  grid-template-columns: auto auto;
  margin-top: 20px;
}
.homemade {
  margin-left: -5px;
  background: #99A769;
  padding: 200px;
  width: 1200px;
  color: white;
  height: 200px;
  margin-top: -20px;
}
button {
  width: 200px;
  height: 50px;
  background: white;
  color: #99A769;
}
.main2-text {
  text-align: center;
}
.main2-text h3 {
  font-size: 40px;
}
.tea-images {
  display: flex;
  justify-content: space-around;
}
.image img{
  border: 5px soild white;
  border-radius: 200px;
  height: 400px;
  width: 400px;
}
.image {
  text-align: center;
}
.checked {
  color: #99A769;
}
.image02 {
 /* height: 520px; */
 /* width: 40%; */
}
.section3 {
  /* margin: 50px; */
  background: #99A769;
  width: 60%;
  /* margin-top: 500px; */
  height: 640px;
  padding: 0 150px 0 150px;
}
.sectiontext {
padding: 200px;
color: white;
}
.main3 {
  display: flex;
  justify-content: space-between;
}
.teas {
  display: flex;
  justify-content: center;

}
.main4-text {
  text-align: center;
}
.main4-text h3 {
  font-size: 40px;
}
.images {
  text-align: center;
 padding: 20px;
}
.main5 {
  display: flex;
  justify-content: space-between;
  justify-content: space-around;
}
.section4 {
  background: #99A769;
  width: 70%;
  height: 500px;
}
.sectiontext01 {
  padding: 100px;
  display: grid;
  color: white;
}
.sectiontext01 input {
  width: 30%;
  background: transparent;
  border: 1px solid white;
  color: white;
  border-radius: 3px;
}
.sectiontext01 textarea {
  width: 30%;
  background: transparent;
  border: 1px solid white;
  color: white;
  border-radius: 3px;
}
.image03 iframe {
  width: 990px;
  height: 500px;
}
.logo2 {
  padding: 50px;
}
.logo2 img {
  width: 200px;
  height: 140px;
  margin-top: 100px;
  /* padding-left: 1100px; */
}
.footer {
  text-align: center;

}
.footerbar ul li{
  list-style: none;
  padding: 20px;
}
.footerbar ul {
  display: flex;
  justify-content: center;
}
.footerbar p {
  text-align: center;
}
